# Base
django>=2.2,<2.3
django-oscar==2.0.4
paypal-checkout-serversdk
paypalhttp==1.0.0

# Testing
pytest
pytest-django
pytest-cov
pytest-mock
sorl-thumbnail


# Development
django-extensions
django-debug-toolbar
